body{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 900px;
	min-height: 500px;
	background: red;
	margin: 0 auto;
}
header{
	width: auto;
	min-height: 100px;
	background: blue;
	position: relative;
}
header .logo{
	width: 100px;
	height: 100px;
	background: yellow;
	float: left;
}
header .slogan{
	width: 800px;
	height: 100px;
	background: green;
	float: left;
}
header .menubar{
	width: auto;
	height: 50px;
	background: purple;
	clear: both;
}
header .topbar{
	width: 400px;
	height: 40px;
	background: #fa45aa;
	position: absolute;
	top: 0;
	right: 0;
}
.container{
	width: auto;
	height: 400px;
	background: cyan;
}
.container .sidebar{
	width: 150px;
	height: 400px;
	background: magenta;
	float: left;
}
.container .content{
	width: 750px;
	height: 400px;
	background: violet;
	float: left;
}
footer{
	width: auto;
	height: 50px;
	background: #333333;
}